<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1"
        src="{{site.baseurl}}/assets/res/user.jpg"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">안녕하세요 저는 웹 개발자 입니다.<br>
      <span id="js-rotating">PHP, JAVA, Anguler, TypeScript,node.js</span>로 개발 중 !!!
    </h4>
  </div>
  <div class="user-content">
    <h5>Back-End</h5>
    <p>
      PHP - 그누보드, 모던, 코드이그나이터<br>
      JAVA - JSP<br>
      node.js<br>
    </p>
    <h5>Front-End</h5>
    <p>
      HTML, jQuery, JS, TS, Anguler.js
    </p>
  </div>
</div>
