<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1"
        src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">안녕하세요 저는 웹 개발자 입니다.<br>
      열심히 <span id="js-rotating">PHP, JAVA, Anguler, TypeScript</span>를 배우고 있습니다.
    </h4>
  </div>
  <div class="user-content">
    <h5>Front-End</h5>
    <p>
      PHP - CI,그누보드,모던<br>
      JAVA - JSP<br>
      ASP - 조금 ;
    </p>
    <h5>Front-End</h5>
    <p>
      HTML, jQuery, JS, TS, Anguler
    </p>
  </div>
</div>
